@model Dashboard.Models.Topic
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header"></h4>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Submit your topic
                </div>
                <div class="panel-body">
                    <div class="col-lg-6">
                        @using (Html.BeginForm(new { @role = "form", @id = "topicForm" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <label>Subject</label>
                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @placeholder = "Enter topic name" })
                                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Body</label>
                                @Html.TextAreaFor(m => m.Body, new { @class = "form-control", @placeholder = "Describe your topic" })
                                @Html.ValidationMessageFor(m => m.Body, "", new { @class = "text-danger" })
                            </div>
                            <input type="submit" name="Submit Topic" class="btn btn-default" id="submitForm" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="ResultSection">
        <center><img src="~/Content/images/loading-bar.gif" /></center>
    </div>
</div>
@section scripts{
    <script>

        $(document).ready(function () {
            var url = '@Url.Action("DisplayTopics")';
            loadResult(url);

            $('#submitForm').click(function () {
                $('#ResultSection').load($url);
                $('#topicForm')[0].reset();
            })
        });

        var loadResult = function ($url) {
            $('#ResultSection').load($url);
        };

        var replyToTopic = function ($id) {
            var url = '@Url.Action("SubmitReply")?TopicId=' + $id;
            alert(url)
            var tabId = '#ReplyTab-' + $id;
            $(tabId).load(url);
        };
    </script>
}
